@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?klbdgq");
  src: url("../fonts/icomoon.eot?klbdgq#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?klbdgq") format("truetype"),
    url("../fonts/icomoon.woff?klbdgq") format("woff"),
    url("../fonts/icomoon.svg?klbdgq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}

body {
  overflow-y: scroll;
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inter-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inter-v8-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v8-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inter-v8-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inter-v8-latin-regular.svg#Inter")
      format("svg"); /* Legacy iOS */
}

/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v10-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/space-mono-v10-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/space-mono-v10-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/space-mono-v10-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/space-mono-v10-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/space-mono-v10-latin-700.svg#SpaceMono") format("svg"); /* Legacy iOS */
}
