@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?klbdgq");
  src: url("../fonts/icomoon.eot?klbdgq#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?klbdgq") format("truetype"),
    url("../fonts/icomoon.woff?klbdgq") format("woff"),
    url("../fonts/icomoon.svg?klbdgq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
